    <table class="table table-hover">
        <tr valign="top">
            <td width="70px">
                <a href="{{ url_for('user', username=event.author.username) }}">
                    <img src="{{ event.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                <a href="{{ url_for('user', username=event.author.username) }}">
                    {{ event.author.username }}
                </a>
                posted {{ moment(event.timestamp).fromNow() }}: 
                <br>
                {% if event.original_event_url %}
                <a href="{{ event.original_event_url }}">
                    {{ event.title }}
                </a>
                {% else %}
                {{ event.title }}
                {% endif %}
                {% if event.original_event_category %}
                {{ event.original_event_category }}
                {% endif %}
            </td>
            <td>{{ event.author.description }}</td>
            <td>
                Location: {{ event.location }}
                <br>
                Description: {{ event.location_desc}}
                <div style="display: none;">
                    {{ event.location_geojson }}
                </div>
            </td>
            <td>
                Starts: <b>{{ moment(event.start_date).format("LLLL") }}
                    {% if event.start_time %}
                    {{ moment(event.start_time).format("LT") }}
                    {% endif %}</b>
            </td>
            <td>
                {% if not event.end_date is none %}
                Ends: <b>{{ moment(event.end_date).format("LLLL") }}
                {% endif %}
                {% if not event.end_time is none %}
                {{ moment(event.end_time).format("LT") }}
                {% endif %}</b>
            </td>
        </tr>
    </table>