    <table class="table table-hover">
        <tr valign="top">
            <td width="70px">
                <a href="{{ url_for('user', username=event.author.username) }}">
                    <img src="{{ event.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                <a href="{{ url_for('user', username=event.author.username) }}">
                    {{ event.author.username }}
                </a>
                posted {{ moment(event.timestamp).fromNow() }}: 
                <br>
                {{ event.title }}
            </td>
            <td>{{ event.author.description }}</td>
            <td>
                Starts: <b>{{ moment(event.start_date).format("LLLL") }}
                    {% if event.start_time %}
                    {{ moment(event.start_time).format("LT") }}
                    {% endif %}</b>
            </td>
            <td>
                {% if not event.end_date is none %}
                Ends: <b>{{ moment(event.end_date).format("LLLL") }}
                {% endif %}
                {% if not event.end_time is none %}
                {{ moment(event.end_time).format("LT") }}
                {% endif %}</b>
            </td>
        </tr>
    </table>