{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
    {% if current_user.is_anonymous %}
    <h1>Welcome to Events Calendar!</h1>
    {% else %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% endif %}
    {% if form %}
    {{ wtf.quick_form(form) }}
    {% endif %}
    <div id="map" style="height: 400px;"></div>
    <nav aria-label="Event navigation">
        <ul class="pagination">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
                <a class="page-link" href="{{ prev_url }}">
                    <span aria-hidden="true">&larr;</span> Sooner events
                </a>
            </li>
            <li class="page-item{% if not next_url %} disabled{% endif %}">
                <a class="page-link" href="{{ next_url }}">
                    Later events <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
    {% for event in events %}
        {% include '_event.html' %}
    {% endfor %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const userTimezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            const timezoneSelect = document.getElementById('timezone');
            if (timezoneSelect) {
                for (let i = 0; i < timezoneSelect.options.length; i++) {
                    if (timezoneSelect.options[i].value === userTimezone) {
                        timezoneSelect.selectedIndex = i;
                        break;
                    }
                }
            }
        });
        
        let map = L.map('map', {doubleClickZoom: false}).locate({setView: true, maxZoom: 13, enableHighAccuracy: true});
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        // IMPLEMENT THIS POLICY https://operations.osmfoundation.org/policies/tiles/
        {% for event in events %}
            {% if event.location_lat and event.location_lon %}
                var marker = L.marker([{{ event.location_lat }}, {{ event.location_lon }}]).addTo(map);
                var popup_content = `{% include '_event_popup.html' %}`;
                marker.bindPopup(popup_content).openPopup();
            {% endif %}
        {% endfor %}
    </script>
{% endblock %}